In [73]:
import urllib.request
import json
import pickle
import os
import pandas as pd
from tqdm import tqdm

In [76]:
#Set constants
list_of_coins = ['BTC', 'XRP', 'ETH', 'XMR', 'ZEC', 'STR', 'ETC', 'DASH', 'LTC', 'NXT']
time_start = 1483228800
time_end =   1514764800
period = 900
url = 'https://poloniex.com/public?command=returnChartData'+'&start='+str(time_start)+'&end='+str(time_end)+'&period=' + str(period)

In [77]:
def download_data(time_start, time_end, coin):
    req = urllib.request.urlopen(urllib.request.Request(url+'&currencyPair=USDT_'+str(coin))).read()
    data = json.loads(req.decode('utf-8'))
    pickle.dump(req, open('raw_data/' + str(coin), 'wb'))
    return data

In [78]:
env_data = {}
for coin in tqdm(list_of_coins):
    data = download_data(time_start, time_end, coin)
    env_data[coin+'_close'] = []
    env_data[coin+'_low'] = []
    env_data[coin+'_high'] = []
    for dct in data:
        env_data[coin+'_close'].append(dct['close'])
        env_data[coin+'_low'].append(dct['low'])
        env_data[coin+'_high'].append(dct['high'])

100%|██████████| 10/10 [00:40<00:00,  4.08s/it]

In [79]:
pickle.dump(env_data, open('env_data_dict', 'wb'))

In [80]:
df = pd.DataFrame.from_dict(env_data)

In [87]:
df.head()

,BTC_close,BTC_high,BTC_low,DASH_close,DASH_high,DASH_low,ETC_close,ETC_high,ETC_low,ETH_close,...,STR_low,XMR_close,XMR_high,XMR_low,XRP_close,XRP_high,XRP_low,ZEC_close,ZEC_high,ZEC_low
0,964.000000,966.150000,962.028165,11.340000,11.340000,11.326380,1.390225,1.398247,1.390225,8.157377,...,0.002445,13.786472,13.801120,13.786472,0.006487,0.006487,0.006482,47.870846,48.060609,47.870846
1,966.149998,966.149998,961.700000,11.305037,11.305037,11.305037,1.400361,1.405537,1.390225,8.184481,...,0.002445,13.763476,13.802193,13.763476,0.006487,0.006487,0.006487,48.400000,48.500000,47.870846
2,963.545459,964.519098,962.879999,11.305037,11.305037,11.305037,1.402057,1.402057,1.401227,8.228650,...,0.002445,13.763476,13.763476,13.700000,0.006487,0.006487,0.006487,48.400000,48.660000,48.384202
3,964.133267,965.668127,963.066163,11.305037,11.305037,11.305037,1.396504,1.396504,1.396504,8.229053,...,0.002445,13.700000,13.700000,13.700000,0.006487,0.006487,0.006487,48.140200,48.140200,48.140200
4,964.133275,965.855012,964.133268,11.305037,11.305037,11.305037,1.396638,1.396638,1.396504,8.242144,...,0.002445,13.700000,13.700000,13.700000,0.006487,0.006487,0.006487,48.474323,48.474323,48.311111

In [83]:
df.shape

(35041, 30)

In [93]:
df.to_csv('env_data_csv', index=False)